* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  .header {
    padding: 10px;       
  }

  h2 {
    margin-left: 300px;
    margin-top: 25px;
    margin-right: 50px;
    padding-top:80px;
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 60px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: right;

  }

  #headerImg {
    background-image: url("./headerImg2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 40%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    color:Black;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

 #userStory {
   
   text-align: center;
   color: black; 
   font-family: 'Source Sans Pro', sans-serif; 
   font-size: 18px; 
   line-height: 32px; 
   margin: 0 0 24px;
 }

 #p1 {
   border-bottom: solid;
   border-color:grey;
   padding-top: 10px;
   padding-bottom: 20px;
   
 }

 #p2 {
  border-bottom: solid;
  border-color:grey;
  padding-top: 10px;
  padding-bottom: 20px;
  
}
  /* Style the footer */
  /* .footer {
    background-color: #6b9fcf;
    padding: 10px;
    text-align: center;
  } */
  
    /* Style Nat var link*/
  /* a:link, a:visited {
    background-color: #41568d;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:active {
    color: blue;
  }
  /* mouse over link  and selected link */


  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .column {
      width: 100%;
    }